
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

/* ---------navbar----------- */



.hero .srk {
    width: 800px;
    height: auto;
    z-index: 1008;
    position: absolute;
    left: 0;
    margin-top: 45px;
}

.hero .form {
    background-color: white;
    width: calc(100% / 2 - 130px);
    right: 0;
    position: absolute;
    z-index: 1008;
    margin-top: -42rem;
    padding: 30px 20px;
    margin-right: 4rem;
    border-radius: 20px;
    text-align: center;
}

.hero .form form {
    display: inline-grid;
}

.hero .form form input {
    width: 28rem;
    margin-bottom: 25px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #adadadb0;
}

.hero .form form .book-class {
    padding: 10px 10px;
    font-size: 25px;
    font-weight: 1000;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.hero .form form .otp {
    width: 90px;
    padding: 10px 10px;
    font-size: 15px;
    border: transparent;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    border-radius: 5px;
    margin-top: -63px;
    margin-bottom: 25px;
    margin-left: 22.3rem;
    cursor: pointer;
    color: white;
}

.hero .form .top {
    font-size: 23px;
    font-weight: 500;
    color: #313131;
    margin-bottom: 10px;
}

.hero .form .middle {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 10px;
}

.hero .form .bottom {
    font-size: 18px;
    font-weight: 500;
    color: #313131;
    margin-bottom: 10px;
}

.hero .form form ion-icon {
    margin-top: -50px;
    margin-left: 26.5rem;
    color: #616161b0;
    font-size: 13px;
    cursor: pointer;
}

.hero .form .hr1 {
    border: 1px solid #adadad49;
    width: 8.5rem;
    margin-left: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.hero .form .hr2 {
    border: 1px solid #adadad49;
    width: 8.5rem;
    margin-left: 20rem;
    margin-top: -22px;
    margin-bottom: 22px;
}

.hero .curves {
    position: absolute;
    z-index: 1008;
    width: 101%;
    margin-top: -56px;
}

/* -----------------section 2---------------- */

.sec2 h2 {
    text-align: center;
    margin-top: 20px;
    padding-left: 25rem;
    padding-right: 25rem;
}

.sec2 .title {
    text-align: center;
    margin-top: 20px;
    padding-left: 26.5rem;
    padding-right: 26.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* ----------card one------------ */

.sec2 .card-class-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 4rem;
    margin-left: 4rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 50px 10px;
    box-shadow: #75757571 0px 10px 20px 0px;
    position: relative;
}

.sec2 .class-4 {
    padding: 10px 20px;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
}

.sec2 .new{
    position: absolute;
    top: 10%;
    left: 90%;
    background: #fec004;
    padding: 5.5px 5.5px;
    font-weight: 500;
    font-size: 16px;
}

.sec2 .triangle{
    position: absolute;
    top: 10%;
    left: 88.15%;
    color: #fec004;
    transform: rotate(150deg);
    font-size: 33px;
    margin-top: 1.45px;
}

.sec2 .left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: calc(100% / 2);
}

.sec2 .left .img {
    margin-left: 50px;
}

.sec2 .left .text img {
    width: 10rem;
    margin-left: 4rem;
    margin-top: -2.5rem;
}

.sec2 .left .text p {
    color: rgb(73, 73, 73);
    margin-left: 2.5rem;
    margin-right: 5rem;
    text-align: center;
}

.sec2 .left h4{
    text-align: center;
    margin-left: -2rem;
    margin-top: 15px;
    color: rgb(73, 73, 73);
    font-weight: 500;
}

.sec2 .left h4 ion-icon{
    margin-bottom: -3px;
}

.sec2 .line {
    width: 1px;
    top: 45%;
    color: white;
    height: 130px;
    display: block;
    box-shadow: #cac6c6 2px 0;
    position: absolute;
    left: 50;
    transform: translateY(-45%);
    background: #ffffff;
}

.sec2 .right .img img {
    width: 14rem;
    margin-left: 3rem;
    margin-top: -2rem;
}


.sec2 .right .text img {
    width: 10rem;
    margin-left: 4rem;
    margin-top: -2.5rem;
}

.sec2 .right .text p {
    color: rgb(73, 73, 73);
    margin-left: 2rem;
    margin-right: 3rem;
    text-align: center;
    margin-top: 10px;
}

.sec2 .right h4{
    text-align: center;
    margin-top: 15px;
    color: rgb(73, 73, 73);
    font-weight: 500;
}

.sec2 .right h4 ion-icon{
    margin-bottom: -3px;
}

.sec2 .free-class{
    position: absolute;
    padding: 15px 25px;
    font-size: 18px;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    top: 77%;
}

/* -------------card two------------- */

.sec2 .card-jee {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 4rem;
    margin-left: 4rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: #75757571 0px 10px 20px 0px;
    position: relative;
}

.sec2 .card-jee .jee {
    padding: 10px 30px;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
}


.sec2 .card-jee .line-2 {
    width: 1px;
    top: 45%;
    color: white;
    height: 75px;
    display: block;
    box-shadow: #cac6c6 2px 0;
    position: absolute;
    left: 50;
    transform: translateY(-45%);
    background: #ffffff;
    margin-top: 6rem;
}

.sec2 .card-jee .line-2 img{
    width: 10rem;
    margin-top: 65px;
    margin-left: -4.9rem;
    margin-top: -10rem;
    margin-bottom: 2rem;
}

.sec2 .card-jee .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2 .card-jee .left img{
    width: 15rem;
    margin-bottom: 20px;
}

.sec2 .card-jee .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2 .card-jee .right img{
    width: 15rem;
    margin-bottom: 20px;
}

.sec2 .card-jee .left button{
    padding: 15px 55px;
    font-size: 16px;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.sec2 .card-jee .right button{
    padding: 15px 55px;
    font-size: 16px;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.sec2 .card-jee .left, .right p{
    color: #313131;
}

/* ---------------card3-------------- */

.card-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------card lkg------------ */

.sec2 .card-lkg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 4rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: #75757571 0px 10px 20px 0px;
    position: relative;
    width: calc(100% / 2);
    margin-right: 1.5rem;
}


.sec2 .card-lkg .lkg {
    padding: 10px 20px;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
}

.sec2 .card-lkg .img{
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.sec2 .card-lkg .img img{
    width: 17rem;
    height: 10rem;

}

.sec2 .card-lkg .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -2rem;
    margin-top: 3.5rem;
}

.sec2 .card-lkg .text img{
    width: 8rem;
    margin-top: -20px;
}

.sec2 .card-lkg .text p{
    margin-top: 10px;
    color: #313131;
    text-align: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.sec2 .card-lkg .text button{
    padding: 15px 55px;
    font-size: 16px;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-top: 2rem;
}

/* ---------------card ias------------ */

.sec2 .card-ias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 4rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 4px 10px;
    box-shadow: #75757571 0px 10px 20px 0px;
    position: relative;
    width: calc(100% / 2);
    margin-left: 1.5rem;
}


.sec2 .card-ias .ias {
    padding: 10px 60px;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
}

.sec2 .card-ias .img{
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.sec2 .card-ias .img img{
    width: 12rem;
    height: 12rem;
}

.sec2 .card-ias .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -2rem;
    margin-top: 3.5rem;
}

.sec2 .card-ias .text img{
    width: 10rem;
    margin-top: -10px;
    margin-bottom: 30px;
}

.sec2 .card-ias .text p{
    margin-top: 10px;
    color: #313131;
    text-align: center;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.sec2 .card-ias .text button{
    padding: 15px 55px;
    font-size: 16px;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-top: 2rem;
}

/* -----------------sec3-------------- */
 
.sec3{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.sec3 h1{
    font-size: 2.2rem;
    color: #333333;
    text-align: center;
}

.sec3 .advantage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec3 .advantage {
    text-align: center;
    color: #333333;
    font-size: 28px;
}

.sec3 .advantage .advantage-1 img{
    width: 19rem; 
}
.sec3 .advantage .advantage-2 img{
    width: 19rem; 
}
.sec3 .advantage .advantage-3 img{
    width: 19rem; 
}

.sec3 .advantage .advantage-2{
    margin-left: -20px;
}

/* ---------------sec4----------------- */

.sec4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sec4 h1{
    font-size: 2.2rem;
    color: #333333;
    text-align: center;
    margin-bottom: 3rem;
}

.sec4 .rating, .parents-review{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.sec4 .rating .download, .star-rating, .cities, .minutes{
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

.sec4 .rating .download img, .star-rating img, .cities img, .minutes img{
    width: 2.8rem;
}

.sec4 .rating .download h2, .star-rating h2, .cities h2, .minutes h2{
    color: purple;
}

.sec4 .rating .download p, .star-rating p, .cities p, .minutes p{
    color: #333333;
}

.sec4 .parents-review .parent-1, .parent-2, .parent-3{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

.sec4 .parents-review .parent-1 img, .parent-2 img, .parent-3 img{
    width: 9rem;
    cursor: pointer;
}

.sec4 .parents-review .parent-1 p, .parent-2 p, .parent-3 p{
    font-size: 15px;
    color: #333333;
    margin-top: 20px;
}

.sec4 .parents-review .parent-1 h4, .parent-2 h4, .parent-3 h4{
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec4 .parents-review .parent-2{
    margin-bottom: 18px;
}

.sec4 .parents-review .parent-1 .trianlge, .parent-2 .trianlge, .parent-3 .trianlge{
    width: 3rem;
    margin-left: -3.5rem;
}

.sec4 .parents-review .parent-1 .class-location, .parent-2 .class-location, .parent-3 .class-location{
    font-size: 13.5px;
}

.sec4 .parents-review .arrow{
    transform: rotate(180deg);
}

.sec4 button{
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 50px;
    border: none;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    color: white;
    cursor: pointer;
}

.sec4 button ion-icon{
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: -5px;
    margin-left: 10px;
}

/* --------------sec5--------------- */

.sec5 .top{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.sec5 .top img{
    width: 350px;
    margin-bottom: 1.5rem;
}

.sec5 .middle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
}

.sec5 .middle .card{
    background: #f2f2f2;
    border-radius: 10px;
    padding: 15px 15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(128, 128, 128, 0.404) 0px 5px 10px 0px;
}

.sec5 .middle .card img{
    width: 230px;
    height: 250px;
}

.sec5 .middle .card h4{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #813588;
}

.sec5 .middle .card p{
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 25px;
}

.sec5 .middle .card button{
    background: transparent;
    color: #813588;
    font-size: 17px;
    font-weight: 500;
    border-top: transparent;
    border-bottom: 2.7px solid #813588;
    border-left: transparent;
    border-right: transparent;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sec5 .middle .arrow{
    transform: rotate(180deg);
    opacity: 0.3;
}

.sec5 .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec5 .bottom button{
    padding: 15px 55px;
    font-size: 16px;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.sec5 .bottom img{
    width: 150px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* ------------footer----------- */

footer img{
    z-index: 1008;
    width: 100%;
}

footer .india-course{
    background: #813588;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 20px;
}

footer .india-course .course, .exams-classes, .exam-resources, .company-follow, .free-textbook-solution, .state-boards{
    display: inline-grid;
    width: 17%;
    min-height: 1px;
}

footer .india-course .course p, .exams-classes p, .exam-resources p, .company-follow p, .free-textbook-solution p, .state-boards p{
    color: #ffc846;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .india-course .course a, .exams-classes a, .exam-resources a, .company-follow a, .free-textbook-solution a, .state-boards a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 5px;
}

footer .india-course .course a:hover, .exams-classes a:hover, .exam-resources a:hover, .company-follow a:hover, .free-textbook-solution a:hover, .state-boards a:hover{
    font-weight: 500;
}

footer .india-course .company-follow .follow{
    display: flex;
}

footer .india-course .company-follow .follow img{
    width: 30px;
}
footer hr{
    height: 1px;
    background: rgba(179, 179, 179, 0.582);
    border: none;
    width: 93%;
    margin-left: 45px;
}

footer .bottom{
    background: #813588;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 3rem;
    font-size: 13px;
}

footer .bottom .pages a{
    color: white;
    text-decoration: none;
}

footer .bottom .pages ion-icon{
    transform: rotate(90deg);
    font-size: 30px;
    margin-bottom: -10px;
}


footer .bottom .copyright{
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}